* {
    font-family: Monospace, Courier, serif;
    box-sizing: border-box;
    margin-left: 2.5px;
    max-width: 800px;
    margin: auto;
    }

pre {
    font-family: Monospace;
    font-size: 3px;
    white-space: pre;
    z-index: 5;
    font-weight: bold;
    padding-left: 5px;
    color: black;
}

nav {
  width:100%;
  z-index: 10;
  height: 25px;
  margin-top: -60px;
  margin-left: 60px;
  font-size: 26px;
  color: black;
  padding-bottom: 7.5%;
}

footer {
  font-size: 14px;
  position: relative;
  margin-top: 25px;
  width: 100%;
}

nav a {
  color: black;
  font-size: 26px;
  font-weight: 600;
  color:black;
}

nav a:hover{
  color: #33FF33;
}

a {
  text-decoration: none;
}

h1, h2 {
  height: 28px;
}

#content {
  width: 90%;
  line-height: 1.25;
}

#content p, ul {
  margin-bottom: 1em;
}

p.selector {
  width: 20%;
  font-size: 18px;
  margin: 10px;
  border-color: black;
  border: 5px black;
  padding: 5px;
  display: inline;
}

p.selector:hover {
  width: 20%;
  font-size: 18px;
  margin: 10px;
  background-color: grey;
  border: 5px black;
  cursor:pointer;
  padding: 5px;
}
