* {
    font-family: monospace, Courier, serif;
    box-sizing: border-box;
    margin-left: 2.5px;
    }

pre {
    font-family: monospace;
    font-size: 3px;
    white-space: pre;
    z-index: 5;
    font-weight: bold;
    border-color: black;
    outline: 1.5px solid;
    padding-left: 10px;
}

nav {
  width:100%;
  padding: 2.5px;
  z-index: 10;
  height: 100px;
  margin: -50px 55px;
  font-size: 36px;
}

footer {
  font-size: 14px;
  position: relative;
  margin-top: 25px;
  width: 100%;
}

nav a {
  color: black;
  font-size: 26px;
  font-weight: 600;
}

p.selector {
  width: 20%;
  font-size: 18px;
  margin: 10px;
  border-color: black;
  border: 5px black;
  padding: 5px;
  display: inline;
}

p.selector:hover {
  width: 20%;
  font-size: 18px;
  margin: 10px;
  background-color: grey;
  border: 5px black;
  cursor:pointer;
  padding: 5px;
}

a {
  text-decoration: none;
}

h1, h2 {
  height: 28px;
}

#content {
  margin-top: 25px;
}